.room-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	.container {
		border-radius: 5px;
		background-color: white;
		-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
		height: 75vh;
		display: flex;
		flex-direction: row;

		aside {
			-webkit-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.05);
			-moz-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.05);
			box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.05);
			border-radius: 5px 0 0 5px;
			min-width: 200px;
			max-width: 50vw;
			background-color: white;
			z-index: 0;
			position: relative;

			header {
				.title {
					font-weight: bolder;
					color: white;
					background-color: #28ACEB;
					text-align: center;
					border-radius: 5px 0 0 0;
					display: block;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			footer {
				position: absolute;
				bottom: 20px;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

			}
		}

		main {
			border-radius: 0 5px 5px 0;
			min-width: 450px;
			max-width: 90vw;
			height: 100%;
			background-color: #f1f3f9;

			header {
				height: 40px;
				display: block;
				border-bottom: 2px solid #e8eaf2;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 15px;
			}
		}
	}
}