main.main-layout {
    border-radius: 0 5px 5px 0;
    min-width: 500px;
    max-width: 90vw;
    height: 100%;
    background-color: #f1f3f9;
    position: relative;
    display: flex;
    flex-direction: column;
}