header.main-layout-header {
    height: 40px;
    display: block;
    border-bottom: 2px solid #e8eaf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}