header.main-layout-header {
    display: block;
    border-bottom: 2px solid #e8eaf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

    .three-dot {
        position: relative;
        cursor: pointer;
        .info {
            position: absolute;
            right: 0;
            width: max-content;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
		    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            z-index: 10;
        }
    }
}