aside.side-layout {
    -webkit-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.05);
    box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.05);
    border-radius: 5px 0 0 5px;
    min-width: 250px;
    max-width: 50vw;
    background-color: white;
    z-index: 1;
    position: relative;

    header {
        position: relative;

        .title {
            font-weight: bolder;
            color: white;
            background-color: #28ACEB;
            text-align: center;
            border-radius: 5px 0 0 0;
            display: block;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: white;
            cursor: pointer;
        }

        .info-tab {
            position: absolute;
            top: 30%;
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            left: 100%;
            transform: translateX(3px);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
		    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
            font-size: 12px;
            width: fit-content;
            white-space: nowrap;
            color: initial;
            cursor: text;
        }
    }
}