.text-field {
	position: relative;

	.input {
		display: block;
		width: -webkit-fill-available;
		height: 35px;
		border: 1px solid #000;
		opacity: .4;
		border-radius: 5px;
		padding: 2px 10px;
		font-size: 1em;

		&.focus, &:valid {
			border: 2px solid #28ACEB;
			outline: none;
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}
	}

	.label {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: #cacaca;
		left: 10px;
		transition: all linear .1s;
		z-index: 0;
	}

	.shrink {
		top: 0;
		color: #28ACEB;
		font-size: .75em;
		background-color: white;
		padding: 0 4px;
		z-index: 1;
	}
}